<meta property="og:image" content="https://custom-captcha.js.org/assets/banner.jpg" />
<meta property="og:image:secure_url" content="https://custom-captcha.js.org/assets/banner.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="640" />
<meta property="og:image:alt" content="Custom Captchas for your project using Google reCAPTCHA v3" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="og:keywords" content="{{ site.keywords }}" />
<meta name="google-site-verification" content="qIwBhGC9v9SrNED0B4Zvq43nB5zybnT2T309oc9kwZI" />
